<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datviz using node</title>
    <link rel="stylesheet" href="style.css">
    <script>
        function updatemenu() {
            if (document.getElementById('responsive-menu').checked == true) {
                document.getElementById('menu').style.borderBottomRightRadius = '0';
                document.getElementById('menu').style.borderBottomLeftRadius = '0';
            } else {
                document.getElementById('menu').style.borderRadius = '10px';
            }
        }
    </script>
</head>

<body>
    <nav id='menu'>
        <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a class='dropdown-arrow' href='http://'>Charts</a>
                <ul class='sub-menus'>
                    <li><a href='/piechart'>Pie chart</a></li>
                    <li><a href='/highlightTables'>Highlight tables</a></li>
                    <li><a href='/textTables'>Text Tables</a></li>
                    <li><a href='/treeMaps'>Tree Maps</a></li>
                    <li><a href='/packedBubbles'>Packed bubles</a></li>
                    <li><a href='/circleViews'>Circle views</a></li>
                    <li><a href='/horizontalBars'>Horizontal bars</a></li>
                    <li><a href='/scatterPlots'>Scatter plots</a></li>
                    <li><a href='/whiskerPlots'>whisker Plots</a></li>
                    <li><a href='/histogramBars'>Histogram Bar</a></li>
                </ul>
            </li>
        </ul>
    </nav>