<%- include('includes/navbar.ejs') %>


    <div class="row">
        <div class="column">
            <a href="/histogramBars">
                <img src="images/histogramBars.jpg" alt="">
            </a>
        </div>
        <div class="column">
            <a href="/whiskerPlots">
                <img src="images/whiskerPlots.jpg" alt="">
            </a>
        </div>
        <div class="column">
            <a href="/horizontalBars">
                <img src="images/horizontalBars.jpg" alt="">
            </a>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <a href="/piechart">
                <img src="images/piechart.jpg" alt="">
            </a>
        </div>
        <div class="column">
            <a href="/highlightTables">
                <img src="images/highlightTables.jpg" alt="">
            </a>
        </div>
        <div class="column">
            <a href="/textTables">
                <img src="images/textTables.jpg" alt="">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <a href="/treeMaps">
                <img src="images/treeMaps.jpg" alt="">
            </a>
        </div>
        <div class="column">
            <a href="/packedBubbles">
                <img src="images/packedBubbles.jpg" alt="">
            </a>
        </div>
        <div class="column">
            <a href="/circleViews">
                <img src="images/circleViews.jpg" alt="">
            </a>
        </div>
    </div>




    <%- include('includes/end.ejs') %>